*{
  background-color: #efefef;
  font-family: 'Fredericka the Great', cursive;

  .container{
    height: 100vh;



  form, label, .field, .control{
    background-color: white;
  }
  .login-box{
    border: 1px solid #d0cece;
    width:50vw;
    padding: 5%;
    margin-left: 23%;
    margin-top: -83vh;
    background-color: white;

    .login-title{
      background-color: white;
      text-align: center;
      font-size: 3vw;
      margin-top: -3vh;
    }
    button.button{
      background-color:#f1eded;
      margin-left: 44%;
      margin-top: 5%;
      margin-bottom: -5%;
    }
  }
  .register-box, .challengeSubmit-container{
    border: 1px solid #d0cece;
    width:65vw;
    padding: 5%;
    margin-left: 16.5%;
    margin-top: -90vh;
    background-color: white;

    .description-input{
      height: 10vh;
      margin-bottom: 2vh;
    }

    .register-title{
      background-color: white;
      font-size: 3vw;
      text-align: center;
      margin-top: -4vh;
    }
  }
  .medium-controls{
    background-color: white;
    display: inline-flex;
    .field{
      margin-left: 6vw;
    }
  }
  button.button{
    background-color:#f1eded;
    margin-left: 24.5vw;
    margin-top: 2%;
  }
}

.challengeIndex-container, .profile-container, .artworks-container{
  margin-top: -90vh;


.countdown-container{
  width: 20vw;
  position: absolute;
  margin-top: 19vh;
}
  .challenge-title{
    font-size: 3.5vw;
    padding-bottom: 6vh;

  }
  .updatable-data{
    text-align: center;
  }
  .description-paragraph{
    font-family: 'Nanum Brush Script', cursive;
    font-size: 180%
  }
  a.button{
    margin-left: 80vw;
    margin-top: -30vh;
  }
}

.help-container{      //refactor the containers at a more apporpriate time.
  margin-top: -90vh;
}

//SHOW ARTWORK
.artworks-container{
.submitted-title{
  font-size: 300%;
  position: absolute;
  margin-top: 25vh;
  margin-left: 3vw;
}
.submitted-subtitle{
  font-size: 150%;
  margin-top: 32vh;
  position: absolute;
  margin-left: 20vw;
}
.image-container{
  text-align: center;


  .submitted-image{
    max-width: 40vw;
    min-width: 20vw;
    padding-bottom: 20px;
    margin-left: 25vw;
    padding: 15px;
    border: 1.5px solid #d0cece;
    border-radius: 5%;
  }
}
.media-block{
  width: 5vw;
  float:right;
  margin-right: 15vw;
  margin-top: 20vh;
  text-align: center
}

.artwork-medium{
  max-width: 6vw;
  display: block;
  padding: 15px;
}

}

.profile-container{

  .personal-info{
    padding-bottom: 30px;
  }
  .profile-image{
    max-width:24vw;
    border-radius: 5%;
    padding: 20px;
    border: 1.5px solid #d0cece;
    margin-left: 6vw;
    margin-top: 10vh;

}
  .profile-title{
    float: right;
    margin-right: 25vw;
    margin-top: 20vh;
    font-size: 450%;
  }
}
.profile-medium{
  max-width: 8vw;
  float:right;
  padding: 20px;
  margin-right: 10vw;
  margin-top: -13.5vh;
}
.inner-submission-container{
 width: 70vw;
 text-align: center;
 border-top: 1.5px solid #d0cece;
 margin-left: 10vw;
 margin-top: 15vh;
 padding: 15px;

 .inner-submission-title{
   padding: 40px;
 }
}

.navbar-item{
  font-size: 140%;
}

.likes{
  font-size: 200%;
  margin-left: 5vw;
}
.btn{
  margin-left: 5vw;
  padding: 15px;
  background-color:#e1dede;
  border-radius: 10%;
  font-family: 'Fredericka the Great', cursive;
  font-size: 95%;
}
.central-container{
  margin-top: -80vh;
  text-align: center;

  .central-title{
    font-size: 300%;
  }
  .central-subtitle{
    font-size: 130%;
  }
  .taxi{
    width: 40vw;
  }

}
}


.notification{
  font-family: monospace;
}
div.notification.is-danger{
  background-color: #728cab;
}
div.notification.is-success{
  background-color: #5d986f;
}
div.mod-button{
  position: absolute;
  margin-top: 44vh;
  margin-left: 10vw;
  .edit-button{
    padding: 10px;
    border: 1px solid #dacbca;
    border-radius: 15%;
    background-color: #e1dede;
    color:inherit;
  }
  .delete-button{
    padding: 11px;
    font-size: 95%;
    font-family: 'Fredericka the Great', cursive;
    border-radius: 15%;
    background-color: #e1dede;
    margin-left: 2vw;
  }
}

.main-title{
  font-size: 180%;
}
.help-container{
  text-align: center;
  padding: 30px;
  padding-bottom: 20vh;
.help-image{
  max-width: 40vw;
  border: 1.5px solid #d0cece;
  padding: 10px;
}
}
